/*  Button's file   */

.boton {
    @include dimensiones(215px, 45px);
    // width: 200px;
    // height: 40px;
    background-color: white;
    color: $colorNegro;
    text-align: map-get($boton , alineacion );
    border: map-get($boton , bordes );
    border-radius: map-get($boton , radio );
}

.boton--aceptar {
    @extend .boton;
    background: $colorBotonAceptar;
    
    &:hover {
        background-color: #007FFF;
        color: $colorBlanco;
    }
}

.boton--cancelar {
    @extend .boton;
    background-color: $colorBotonCancelar;
    &:hover {
        background-color: #D2122E;
        color: $colorBlanco;
    }
}