footer {
    background-image: url(../img/footer-wallpaper.jpg);
    background-color: rgba(3, 3, 3, 0.545);
    background-size: cover;
    background-attachment: fixed;
    div {
        div {
            div {
                h2, p {
                    color: $colorBlanco;
                }
                ul {
                    li {
                        color: $colorBlanco;
                        i {
                            color: $colorBlanco;
                        }
                    }
                }
            }
        }
    }
}