footer {
    background-image: url(../img/footer-wallpaper.jpg);
    background-color: rgba(3, 3, 3, 0.545);
    background-size: cover;
    background-attachment: fixed;
    div {
        ul {
            li {
                i {
                    color: $colorBlanco;
                }
            }
        }
    }
}