.main {
    /*Estilos*/
    background-image: url("../img/nexus640x426.jpg");
    background-size: cover;
    background-attachment: fixed; /*Fijo el fondo*/
    min-height: 100vh;
}

.titulo--verde{
    color: $colorPrincipalTitulo;
    font-weight: bold;
}
.titulo--azul{
    color: $colorSecundarioTitulo;
}

/*  Página de Contact*/
.bg-formulario {
    background-color: $colorBgFormulario;
}

/*  Página de Portfolio*/
.video-scale {
    transition: 600ms ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}