.bg-index {
    /*Estilos*/
    background-image: url("../img/nexus640x426.jpg");
    background-size: cover;
    background-attachment: fixed; /*Fijo el fondo*/
    background-position: top;
    min-height: 100vh;
}

.bg-contact {
    
    background-image: url("../img/nexus640x426.jpg");
    background-size: cover;
    background-attachment: fixed; /*Fijo el fondo*/
    background-position: top;
    min-height: 100vh;
}

.titulo--verde{
    color: $colorPrincipalTitulo;
    font-weight: bold;
    font-size: 50px;
}
.titulo--azul{
    color: $colorSecundarioTitulo;
    font-size: 40px;
}

/*  Posiciona menú a la derecha  */
.navbar-collapse {
    flex-grow: 0;
}

/*  Página de Contact*/
.bg-glass {
    background-color: $colorBgGlass;
}

/*  Página de Portfolio*/
.video-scale {
    transition: 600ms ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

.bg-title {
    background-color: rgba(0, 0, 0, 0.558);
}


/*  Ayuda a que en la página de About se pueda leer el texto más facilmente en mobile   */
@media screen and (max-width: 575px) {
    .texto-about {
        background-color: #efefef;
        border: 1 solid;
    }
    .bg-contact {
        background-color: $colorNegro;
        background-image: none;
    }
}