/*reset*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

$colorPrincipalTitulo : #00A170;
$colorSecundarioTitulo : cornflowerblue;
$colorBgFormulario : rgba(182, 225, 238, 0.49);