/*reset*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Configuración del Main*/
.main {
    /*Estilos*/
    /* padding-top: 80px; */
    background-image: url("../img/nexus640x426.jpg");
    background-size: cover;
    background-attachment: fixed; /*Fijo el fondo*/
    min-height: 100vh;
}

.titulo--verde{
    color: #00A170;
    font-weight: bold;
}

.titulo--azul{
    color: cornflowerblue;
}

.bg-formulario {
    background-color: rgba(182, 225, 238, 0.49);
}

.video-scale {
    transition: 600ms ease-in-out;
}

.video-scale:hover {
    transform: scale(1.1);
}